:root{
    --bg-color: #000018;
    --craftable-color:#9494ff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.25);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }

body{
    font-family: "Roboto";
    background-color: var(--bg-color);
    padding: 30px;
    padding-left: 100px;
    color: white;
    overflow: hidden;
    font-size: 10px;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3.5em;
}
h3{
    font-size: 3em;
}
h4{
    font-size: 2em;
}
h5{
    font-size: 1.5em;
}
body.recipe{
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
a{
    /* color:#fde910; */
    /* text-decoration: none; */
}

header{
    position: relative;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}
header > .sidebar{
    position: fixed;
    left:0px;
    top: 0px;
    height: 100vh;
    width: 70px;
    border-right: 1px solid white;
    background-color: var(--bg-color);

    transition: all 0.15s ease-in-out;
    padding: 10px;
    overflow: hidden;
    z-index: 9999;
}
header > .sidebar:hover{
    width: 240px;
}
header > .sidebar .sidebar--title{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 18px;
}
header > .sidebar .sidebar--title span{
    transition: all 0.15s ease-in-out;
}
header > .sidebar:hover .sidebar--title span{
    font-size: 3em;
    font-weight: bold;
}
header > .sidebar .sidebar--links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5px;
    transition: all 0.15s ease-in-out;
}
header > .sidebar:hover .sidebar--links{
    gap: 20px;
    padding-top: 5px;
}
header > .sidebar .sidebar--links a{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: start;
    transition: all 0.15s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:600;
    color: white;
    font-size: 1.5em;
}
header > .sidebar .sidebar--links a:hover{
    background-color: #ffffff;
    color: black;
}
header > .sidebar .sidebar--links a span{
    opacity: 0;
    transition: all 0.15s ease-in-out;
}
header > .sidebar:hover .sidebar--links a span{
    opacity: 1;
}
header > .sidebar .sidebar--links a img{
    height: 50px;
    width: 50px;
    transition: all 0.15s ease-in-out;
}
header > .sidebar .sidebar--links a:hover img{
    filter:invert(1);
}
header > .sidebar:hover .sidebar--links a img{
    height: 50px;
    width: 50px;
}

.perks{
    width: calc(100% - 700px);
    position: relative;
}
.perks > .perks--search{
    position: absolute;
    left: 100%;
    top: 0px;
    width: 700px;
    height: 100%;
    border-left: 1px solid white;
    padding: 0px 10px;
}
input[type="text"]{
    width: 100%;
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 8px;
}
.perks--search--result{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: scroll;
}
.perks--search--result > div{
    display: grid;
    column-gap: 1em;
    grid-template-columns: 50px 5em 1fr;
    align-items: center;
}
.perks--search--result > div.craftable h5:nth-child(3){
    color:var(--craftable-color);
}
.perks--search--result > div img{
    height: 5em;
    width: 5em;
}
.perks--list{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: start;
    font-weight: 600;
    border-right: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
}
.perks--list > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* border-bottom: 1px solid white; */
    /* padding: 0.5em 0px; */
    /* width: 100%; */
    cursor: pointer;
    position: relative;
    transition: all 0.15s ease-in-out;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1.5em;
}
.perks--list > div:hover,
.perks--list > div.active{
    color:#fde910;
}
.perks--list > div:not(:last-child){
    border-right: 1px solid white;
}
.perks--list > div::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 1em;
    width: 0px;
    border-bottom: 1px solid white;
    transition: all 0.15s ease-in-out;
}
.perks--list > div:hover::after{
    width: calc(100% - 2em);
}

.perks--perk-info > div{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: start;
    /* gap: 1em; */
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.perks--perk-info h4{
    line-height: 1.2em;
    height: 2.4em;
}

.perks--perk-info > div > span{
    padding-right: 1em;
    padding-left: 1em;
    font-size: 2em;
}
.perks--perk-info > div > span:hover,
.perks--perk-info > div > span.active{
    color:#fde910;
}
.perks--perk-info > div > span:not(:last-child){
    border-right: 1px solid white;
}
.perks--recipes{
    height: calc(100vh - 60px - 350px - 32px);
}
.perks--recipes > div{
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    height: 100%;
}
.perks--recipes > div > div{
    padding: 0px 10px;
}
.perks--recipes > div .perks--recipes--list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.perks--recipes > div .perks--recipes--list > div{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.perks--recipes > div .perks--recipes--list > div img{
    height: 3em;
    width: 3em;
}
.perks--recipes > div .perks--recipes--list > div h5{
    margin: 0px;
}
.perks--recipes > div .perks--recipes--list > div:hover,
.perks--recipes > div .perks--recipes--list > div.active{
    color:#fde910;
}
.perks--recipes--tabs-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.perks--recipes--tabs--controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1em;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 10px;
    height: 28px;
    box-sizing: content-box;
}
.perks--recipes--tabs--controls > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
    border-right: 1px solid white;
    font-size: 1.5em;
}
.perks--recipes--tabs--controls > div:not(:last-child){
    padding-right: 1em;
    border-right: 1px solid white;
}
.perks--recipes--tabs--controls > div.active{
    color:#fde910;
}
.perks--recipes--tabs--controls > div img{
    height: 1em;
    width: 1em;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.perks--recipes--tabs--controls > div span{
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.perks--recipes--tabs > webview{
    height: fit-content;
    width: 100%;
    height: calc(100vh - 400px);
}
.perks--recipes--tabs > webview:not(.active){
    display: none;
}
.perks--recipes--tabs{
    width: 100%;
}

.perks--recipes--recipe{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.perks--recipes--recipe > .perks--recipes--recipe--title{
    border-bottom: 1px solid white;
    padding: 0px 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 50%;

    
    display: grid;
    column-gap: 1em;
    grid-template-columns: 5em 1fr 100px 150px 100px;
}
.perks--recipes--recipe > .perks--recipes--recipe--title img{
    height: 5em;
    width: 5em;
}
.perks--recipes--recipe > div:nth-child(1){
    display: flex;
    flex-direction: row;
    gap: 2em
}
.perks--recipes--recipe > div:nth-child(1) span{
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 2em;
}
.perks--recipes--recipe > div:nth-child(1) span:active{
    color:#fde910;
}
.perks--recipes--recipe > div:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.perks--recipes--recipe > div:nth-child(3) > div{
    padding: 0px 15px;
}
.perks--recipes--recipe--ing{
    border-right: 1px solid white
}
.perks--recipes--recipe > div:nth-child(3) > div > div{
    padding-bottom: 15px;
    display: grid;
    column-gap: 1em;
    grid-template-columns: 5em 1fr 100px 150px 100px;
}
.perks--recipes--recipe > div:nth-child(3) > div > div img{
    height: 5em;
    width: 5em;
}
.perks--recipes--recipe > div:nth-child(3) > div .id{
    width: 80px;
}
.perks--recipes--recipe > div:nth-child(3) > div .craftable{
    color: var(--craftable-color);
    cursor: pointer;
}

.perks--recipes--summary{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.perks--recipes--summary span{
    font-size: 1.5em;
}

.perks--recipe--usage{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.perks--recipe--usage-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow: auto;
    padding: 0px 15px;
}
.perks--recipe--usage-list > div{
    display: grid;
    grid-template-columns: 5em 50px 1fr;
    column-gap: 15px;
    align-items: center;
}
.perks--recipe--usage-list > div img{
    height: 5em;
    width: 5em;
}